// breadcrumbs start
section.breadcrumbs
	.container
		.row
			.col-sm-6 
				h1= PageTitle
			.col-sm-6.text-right.breadcrumbs-item
				a(href='#') home
				i.fa.fa-angle-right
				a(href='#') Features
				i.fa.fa-angle-right
				a(href='#') accordion
// ! breadcrumbs end
