// site top panel
.site-top-panel
	.container
		.row
			.col-sm-6
				// lang select wrapper
				.lang-wrap
					i.icon-lang.flaticon-earth-globe21
					| Change your language
					select.lang-change(name='billing_lang')
						option(value='') English
						option(value='AX') Åland
						option(value='AF') Afghanistan
						option(value='AL') Albania
						option(value='DZ') Algeria
						option(value='AD') Andorra
						option(value='AO') Angola
						option(value='AI') Anguilla
				// ! lang select wrapper
			.col-sm-6.text-right
				// social wrapper
				.social-wrap
					a.cws-social.flaticon-facebook55(href='#')
					a.cws-social.flaticon-twitter1(href='#')
					a.cws-social.fa.fa-google-plus(href='#')
					a.cws-social.flaticon-social-network106(href='#')
					a.cws-social.flaticon-pinterest3(href='#')
				// ! social wrapper
// ! site top panel
