$main-green: #8ae6cf;
$main-blue: #2c87ce;
$header-color: #2c303d;
$oswad: 'Oswald', sans-serif;
$openSans: 'Open Sans', sans-serif;


/*  */
/* Responsive */
/*  */
$tablet-width: 768px;
$desktop-width: 960px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
/*  */
/* ! Responsive */
/*  */
* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.container {
 	width: 835px;
 	max-width: calc(100% - 120px);
	margin: 0 auto;
	padding: 50px 0;
	@include tablet {
		width: 640px;
	}
}
.grid.products {
	margin: 0 -10px;
	@include tablet {
		margin: 0 -20px;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.product {
		float: left;
		width: 265px;
		margin: 0 10px 15px 10px;
		@include tablet {
			width: 300px;
			margin: 0 20px 30px 20px;
		}
	}
}
.product {
	.media-part {
		position: relative;
		z-index: 1;
		font-size: 0;
		img {
			width: 100%;
		}
		.price {
			position: absolute;
			z-index: 2;
			bottom: 22px;
			right: 0;
			background-color: $main-green;
			font-size: 16px;
			line-height: 22px;
			color: #2c303d;
			font-weight: 700;
			padding: 0 4px;
			@include tablet {
				display: none;
			}
		}
		&:hover .button-popup {
			opacity: 1;
		}
		.button-popup {
			opacity: 0;
			white-space: nowrap;
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 0 15px;
			font-size: 18px;
			line-height: 39px;
			font-weight: 700;
			background-color: $main-green;
			backface-visibility: hidden;
			transition: opacity 0.3s;
			span {
				transition: opacity 0.3s;
				span {
					display: none;
					@include tablet {
						display: inline;
					}
				}
			}
			@include tablet {
				opacity: 1;
				top: auto;
				bottom: 0;
				left: 0;
				transform: translate(0, 0);
				width: 100%;
				font-size: 20px;
				line-height: 30px;
				padding: 15px 0;
				color: $main-green;
				text-align: center;
				background-color: rgba(44,48,61,0.5);
			}
		}
	}
	.product-title {
		font-family: 'Oswald', sans-serif;
		margin-top: 14px;
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		color: #282828;
		@include tablet {
			font-size: 20px;
			line-height: 18px;
		}
	}
	.price-mobile {
		display: none;
		font-size: 22px;
		font-weight: 700;
		line-height: 32px;
		color: #2c303d;
		text-align: center;
		@include tablet {
			display: block;
		}
	}
}

/*  */
/* pop-up */
/*  */
.pop-up-hover {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #000000;
	opacity: 0;
	transition: all 0.4s;
	&.closed {
		opacity: 0 !important;
		visibility: hidden;
	}
}
.pop-up {
	position: absolute;
	z-index: 101;
	top: 100px;
	left: 50%;
	background-color: #ffffff;
	border: 1px solid #eaf2f4;
	padding: 19px 60px 19px 19px;
	transform: translateX(-50%);
	width: 835px;
	max-width: calc(100% - 80px);
	margin-bottom: 100px;
	transition: all 0.4s;
	&.closed {
		opacity: 0 !important;
		visibility: hidden;
	}
	.pic {
		float: left;
		margin-right: 35px;
		font-size: 0;
		position: relative;
	}
	.socials {
		font-size: 18px;
		position: absolute;
		z-index: 1;
		left: 8px;
		top: 15px;
		.close-socials {
			position: relative;
			display: block;
			width: 34px;
			height: 34px;
			margin: 0 auto;
			cursor: pointer;
		}
		.close-socials:before,
		.close-socials:after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 12px;
			transform-origin: center center;
			transform: translateX(-50%) rotate(90deg);
			z-index: 1;
			width: 24px;
			height: 4px;
			background-color: $main-blue;
			transition: all 0.4s ease;
		}
		.close-socials:after {
			transform: translateX(-50%) rotate(0deg);
		}
		&.opened .close-socials:before{
			transform: translateX(-50%) rotate(315deg);
		}
		&.opened .close-socials:after{
			transform: translateX(-50%) rotate(45deg);
		}
		.soc-icon {
			display: block;
			width: 40px;
			height: 40px;
			line-height: 36px;
			text-align: center;
			border: 2px solid $main-blue;
			border-radius: 50%;
			color: $main-blue;
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s ease-out 0.3s;
			transform: translateX(-10px);
			& + .soc-icon {
				margin-top: 10px;
			}
		}
		&.opened .soc-icon {
			visibility: visible;
			opacity: 1;
			transform: translateY(0px);
		}
	}
	.title-product {
		color: $header-color;
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
		font-family: $oswad;
	}
	.description {
		margin-top: 20px;
		font-size: 12px;
		line-height: 16px;
	}
	.price {
		margin-top: 17px;
		font-size: 24px;
		font-weight: 700;
		line-height: 1;
	}
	.product-id {
		margin-top: 10px;
		opacity: 0.7;
		font-size: 10px;
	}
	.size-selector {
		margin-top: 35px;
		font-size: 14px;
		font-weight: 700;
		span {
			display: inline-block;
			margin: 6px;
			width: 39px;
			height: 39px;
			box-sizing: border-box;
			border: 1px solid #2c303d;
			border-radius: 50%;
			color: #2c303d;
			text-align: center;
			text-transform: uppercase;
			line-height: 37px;
			transition: all 0.3s;
			cursor: pointer;
			&:hover {
				color: #ffffff;
				background: #2c303d;
			}
			&:first-child {
				margin-left: 18px;
			}
		}
	}
	.add-to-cart {
		display: inline-block;
		margin-top: 18px;
		background-color: $main-green;
		text-transform: uppercase;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		line-height: 30px;
		padding: 6px 50px;
		min-width: 214px;
		border-radius: 19px;
	}
	.button-exit {
		position: absolute;
		z-index: 1;
		top: 10px;
		right: 10px;
		border: 2px solid $main-blue;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		box-sizing: border-box;
		cursor: pointer;
		backface-visibility: hidden;
		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: calc(50% - 2px);
			transform-origin: center center;
			transform: translateX(-50%) rotate(45deg);
			z-index: 1;
			width: 24px;
			height: 4px;
			background-color: $main-blue;
		}
		&:after {
			transform: translateX(-50%) rotate(-45deg);
		}
	}
	.rate-stars {
		margin-top: 15px;
		white-space: nowrap;
		i{
			font-size: 17px;
			letter-spacing: 3px;
			&.rated {
				color: #ce2c52;
			}
		}		
	}

}

/*  */
/* ! pop-up */
/*  */

