doctype html
html
	include ../includes/head.jade
	body(ng-app="phoneBook")
		// header page
		header
		.container
			.phone-book(ng-controller="phoneBookCtrl")
				lable Name:
				input(type="text" ng-model="name")
				lable Avatar:
				input(type="text" ng-model="avatar")
				lable Group:
				input(type="text" ng-model="group")
				button(ng-click="addUsers(flagEdit)") Save User
				.phone-list
					.phone-user(ng-repeat="user in phoneUsersList")
						h2.user-name {{user.name}}
						h3.user-group {{user.group}}
						button(ng-click="editUsers(user.$$hashKey)") Edit Users
						button(ng-click="removeUsers(user.$$hashKey)") Remote Users

			
		// ! header page
		// ! footer
		include ../includes/script.jade